<div class = "game">
        <div class = "details">
                <h1 >{{player.name}}</h1>
        <h2>Current score: {{player.currentScores}}</h2>
        <h2>Best score: {{getBestScore()}}</h2>
        </div>
        
        <div *ngIf="player.isOnGame" class="game-board">
                <span class="dot"
                *ngFor="let bulb of bulbs; index as i" 
                id="bulb{{i}}"
                class="bulb{{i}}"
                style.background-color = "{{bulbs[i].color}}"
                (click) = "onBulbClicked(i)"></span>
        </div>
        
        <div *ngIf="!player.isOnGame" class="game-board">
                <button (click)="onStartGame()" class="btn-start">Start the memory game</button>
        </div>
</div>




