.dot {
    height: 70px;
    width: 70px;    
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
  }

  .details {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 50px;
  }
  .game-board{
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
    margin-top:10%;
    margin-bottom: 35%;
    padding-left: 160px;
    height:30%

  }

  .btn-start{
    width: 50%;
    height:50px;
    border-radius: 12px;
    font-size: 100%;
    background-color: #4CAF50;
  }
  